/*_bace.scss*/
html {
  font-size: 62.5%;
  line-height: 2.5rem;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #707070;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Noto Sans JP", "MyYuGothicM, YuGothic", "-apple-system", BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif, MPLUS1p;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  color: #131D34;
  display: block;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "M+1";
}

/**Footer*/
footer {
  height: 150px;
  width: 100vw;
  background-color: #9D8670;
  color: #FFFFFF;
}

header {
  height: 217px;
  background-color: #FFF7EF;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 375px) {
  header .l-header {
    max-width: 375px;
    text-align: center;
    flex-direction: column;
    display: inline-block;
    margin: 40px auto;
  }
  header .l-header > p {
    font-family: Roboto;
    font-size: 4em;
    font-weight: bold;
    color: #707070;
    margin: 1em 2em;
  }
  header .l-header__search {
    height: 4em;
    width: 320px;
    margin-left: 20px;
  }
  header .l-header__search > input {
    align-items: center;
    height: 3em;
    border: 1px solid;
    border-color: #707070;
    font-family: "M+1";
    font-size: 150%;
    color: #707070;
  }
  header .l-header__search .banner {
    width: 224px;
    border-radius: 10px;
    background-color: #FFFfff;
  }
  header .l-header__search .btn {
    width: 64px;
    border-radius: 10px;
    margin-left: 1em;
    background-color: #F2EDE9;
  }
}

/**Main*/
.c-tophead {
  height: 230px;
  background-image: url("/images/tophead.png");
  background-size: cover;
  background-attachment: scroll;
}
.c-tophead__wrapper {
  height: 230px;
  display: block;
}
.c-tophead__wrapper > p {
  line-height: 230px;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0;
  top: 50px;
  font-size: 3.6em;
  font-family: "M+1";
  font-weight: bold;
}

.c-backimg1 {
  background-image: url("/images/takeout.png");
}

.c-backimg2 {
  background-image: url("/images/eatin.png");
}

@media screen and (min-width: 765px) {
  .p-mainblock__wrapper {
    display: flex;
  }
}

.p-mainblock {
  min-height: 64rem;
  width: auto;
  margin: 10px;
  padding: 0 10px;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  gap: 10px;
  word-break: break-all;
}
.p-mainblock > h1 {
  padding-top: 5rem;
  font-size: 41px;
  font-weight: bold;
  color: #ffffff;
}

article {
  background-color: rgba(255, 255, 255, 0.7);
  height: 120px;
}
article h2 {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}
article p {
  font-size: 16px;
  font-weight: normal;
  color: #3C2A10;
}

/**Foundation*/
/**Layout*/
/**Object*/
/**Component*/
/**Project*/
/**Utility*/
/*# sourceMappingURL=style.css.map */