
.p-mainblock__wrapper{    
    @media screen and (min-width:765px) {
        display: flex;
    }
}

.p-mainblock {
    min-height: 64rem;
    width: auto;
    margin: 10px;
    padding: 0 10px;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: minmax(300px,1fr);
    gap: 10px;
    word-break: break-all;


    > h1 {
        padding-top: 5rem;
        font-size: 41px;
        font-weight: bold;
        color: #ffffff;
    }  
}


article {
    background-color: rgba(255,255,255,0.7);
    height: 120px;

    h2 {
        font-size: 22px;
        font-weight: bold;
        color: #3C2A10;
    }

    p {
        font-size: 16px;
        font-weight: normal;
        color:#3C2A10;
    }
}
