/**Map*/

.c-map {
    min-height: 69rem;
    background-color: #000000;
    background-image: url("/images/map.png");
    background-size: cover;

    &__wrapper {
        position: relative;
        min-height: 69rem;

        .c-map__textarea {
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            padding: 4rem;
            font-family: "M+1";
            color: #FFFFFF;
            line-height: 3rem;
            overflow-wrap: anywhere;

            >h1 {
                font-size: 3rem;
            }

            >p {
                padding-top: 1rem;
                font-size: 1.4rem;
                word-break: break-all;
            }
        }

        .c-map__shade {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 300px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }

    }



}