//Tophead

.c-tophead {
    height: 230px;
    background-image: url("/images/tophead.png");
    background-size: cover;
    background-attachment: scroll;


    &__wrapper {
        height: 230px;
        display: block;

        >p {
            line-height: 230px;
            text-align: center;
            color: #fff;
            position: relative;
            margin: 0;
            top: 50px;
            font-size: 3.6em;
            font-family: "M+1";
            font-weight: bold;
        }
    }

    @media screen and(max-width:600px) {
        height: 280px;

        &__wrapper {
            height: 280px;

            p {
                display: none;
            }
        }
    }

    @media screen and(min-width:960px) {
        height: 50rem;

        &__wrapper {
            >p {
                text-align: inherit;
            }
        }
    }
}